@import url('./css_modules/variables.css');

body {
  background-color: #202020;
  color: white;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 375px) {
  
#nav-links {
display: flex;
justify-content: space-between;
width: 50%;
}

#nav-links > p {
font-size: var(--font-size);
color: var(--font-color);
}

#nav-links > p:hover {
  color: var(--textColor-hover);
}


.button {
  height: 2.5em;
  width: 10em;
  color: var(--font-color);
  font-size: .9em;
  border-radius: var(--borderRadius-btn);
  border-color: transparent;
  border-width: 0px;
  box-shadow: var(--box-shadow);
  background: var(--button-bg);
}

.button:hover {
  background: var(--btn-hover);
}
}/* End of media query for NavBar mobile */

/*Start of media query for Navbar Desktop*/
@media (min-width: 1024px) {

#grid-container {
display: grid;
grid-gap: 20px;
margin: 20px;
border: 5px solid #ff3300;
grid-template-columns: [sidebar1-start sidebar1] .5fr 
[sidebar1-end content-start] 1.5fr 
[content-end sidebar2-start] .5fr
[sidebar2 sidebar2-end];
grid-template-rows: [content-top] repeat(3, 150px) [content-bottom];
grid-template-areas: 
  "sidebar1 content sidebar2"
  "sidebar1 content sidebar2"
  "footer   footer  footer"  
}
.item {
  background-color: rgb(0, 183, 255);
}

.extra {
  grid-column: span sidebar1-start / content-end;
}

.sidebar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sidebar1;
}

.content {
  grid-area: content;
  background-color: #FF2E00;
}

.sidebar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: sidebar2;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: purple;
}





  #nav-links {
  display: flex;
  justify-content: space-evenly;
  padding: .5em;
  margin: .5em;
  border-width: 5px;
  border: dashed;
  width: 50%;
  & > p {
    font-size: 14px;
    color: white;
    &:hover {
      color: #06f0f0;
      }
    }
  }
  
  .button {
    height: 2.5em;
    width: 10em;
    color: white;
    font-size: .9em;
    border-radius: 7px 7px 7px 7px;
    border-color: transparent;
    border-width: 0px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #FF964A, #FF2E00);
    &:hover {
      background: #FF2E00;
    }
  
  }

} /* End of media query for NavBar Desktop*/
